<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Toxicity: About</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
	<header id="header">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<img src="static/img/LogoMakr_2DoISf.png" alt="" title="" width="200" height="100" style="float:left"/>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="https://github.com/">Github</a></li>
						<li><a href="https://medium.com/">Medium</a></li>
						<li><a href="about.html">Contact</a></li>
					</ul>
				</nav><!-- #nav-menu-container -->
			</div>
		</div>
	</header>
 <div class="login">
	<h3>About us:</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <h5>Note: You can tweak the graph (Play with text color, figure size, chart style etc) and add legends based on your requirement. 
    I have not added legend and I left the labels on the pie chart.</h5>

 </div>

</body>
</html>
