@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn { margin-top: 5%;display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 50%; display:inline-block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

/* html { width: 100%; height:100%; overflow:hidden; } */
html { width: 100%; height:100%; overflow:visible; }


.login {
	/* position: absolute; */
	/* top: 50%; */
	/* left: 50%; */
  /* margin: -150px 0 0 -150px; */
  /* margin: 5em; */
  margin-top: 5%;
  margin-left: 23%;
  margin-right: 23%;
	width:50%;
  height:100%;
  text-align: center;
  display: inline-block;
}

.slider{
	/* position: relative; */
  /* margin-top: 10%; */
  /* margin-bottom: 5%; */
  width:70%;
  margin:0 auto;
	height:50px;
  display: block;
  margin-bottom: 10%;
}

.slider h6{
  margin-top: 0.0%;
  font-weight: 400;
  font-size: 0.9rem;
}

/* .slider{
	position: relative;
	top: 0%;
	left: 99%;
	margin: -150px 0 0 -150px;
	width:10px;
	height:50px;
    display: inline-block;
} */

.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

.container.fullwidth {
  width: 100%; 
  }
.container.no-padding {
  padding-left: 0;
  padding-right: 0; 
  }
/* Nav Meu Container */
#nav-menu-container {
  margin-top: 10px; }

/* @media (min-width: 1024px) {
  #nav-menu-container {
    padding-right: 60px; } }
@media (max-width: 768px) {
  #nav-menu-container {
    display: inline; } }

@media (max-width: 800px) {
  #mobile-nav-toggle {
    display: inline; }

  #nav-menu-container {
    display: inline; } } */

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  /* color: #fff; */
  font-size: 14px;
  text-transform: capitalize;
  outline: none; }

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #222222; 
  font-weight: 600;
}

.nav-menu > li {
  margin-left: 10px; }

.nav-menu ul {
  margin: 27px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
  display:inline;  }

ul li {
  display:inline;
  }

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 12px;
  text-transform: none; }

.nav-menu ul li:hover > a {
  color: #39cfca; }

.nav-menu ul ul {
  margin: 0;
  }

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.5s; }
  #header.header-scrolled .nav-menu li:hover > a, #header.header-scrolled .nav-menu > .menu-active > a {
    color: #39cfca; }

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}
.container {
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px;
    margin-right: 25%; */
    float: right;
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}


input {
	width: 100%;
	margin-bottom: 10px;
	/* background: rgba(0,0,0,0.3); */
	border: none;
	outline: none;
	padding: 10px;
  font-weight: 600;
  font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
	color: rgba(1, 1, 1, 0.95);
	/* text-shadow: 1px 1px 1px rgba(0,0,0,0.3); */
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 50px 50px 50px 50px;
	/* box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2); */
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
  text-align: center;
  display: block;
}
/* input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); } */

h3 span{
  font-size: 2.90em;
  /* margin-top: 2%; */
  font-weight: 700;
  color: #757677;
  text-align: center;
  height: 1.0em;
  line-height: 2.0;
}

#predictbtn{
  margin-top: 30%;
}

#battleBox {  
  width: 100%; /* increasing width from 210 to 216 because your border takes 6 extra px*/
  height: 100%;
}

.rightRapper {
  float: right;
  display: block;
  margin-top: 5%;
  border-radius: 5px;
  box-shadow: 0 17px 50px 0 rgba(0,0,0,.19), 0 12px 15px 0 rgba(0,0,0,.24);
  background-color: white;

  margin-right: 5%;
  width: 35%;
  margin-left: 5%;
}

.leftRapper {
  /* height: 20%; */
  margin-left: 5%;
  /* display: inline-block; */
  /* border: solid black 2px; */
  width: 50%;
  float: left;
  margin-top: 5%;
  border-right: solid 1px #0069D9;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 17px 50px 0 rgba(0,0,0,.19), 0 12px 15px 0 rgba(0,0,0,.24);
}


.logo {
  /* width: 10%;
  height: 10%; */
  float: left; 
  margin-left: 20px;
}

a:active {
  color:red;
}


#tail {
  border-top: 1px solid #0069D9;
  height: 200px;
  width: 100%;
  overflow-y: auto;
  /* font-family: 'Courier New', Courier, monospace;
  font-size: smaller;
  font-weight: bold; */
  position: relative;
  bottom: 0;
  float: right;
  margin-left: inherit;
  border-radius: 5px;
  box-shadow: 0 17px 50px 0 rgba(0,0,0,.19), 0 12px 15px 0 rgba(0,0,0,.24);
  background-color: white;
  margin-top: 5%;
}


.wrapper {
  font-family: "Open Sans Semibold", "Segoe UI";
  font-size: 13px;
  width: 100%;
  overflow: hidden;
  margin-top: 8px;
  margin-left: 5px;
  box-sizing: border-box;
}
.first {
  width: 40;
  height: 40;
  float:left;
}
.second {
  overflow: hidden;
  padding-left: 12px;
}
.first.set_log_option span{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-weight: bold;
}
.author_header{
  overflow: hidden;
  font-weight: 600;
}
.author_name{
  float:left;
  padding-right: 1%;
  color: black;
}
.author_time_posted{
  float:left;
  padding-right: 1%;
  color: #0000008c;
}
.toxic_score{
  float:left;
  font-weight: bold;
}
.author_comment{
  padding-top: 0;
  font-family: "Open Sans Semibold", "Segoe UI";
  font-size: 13px;
  color: black;
}

.author_dummypic{
  padding-top: 0;
  font-family: "Open Sans Semibold", "Segoe UI";
  font-size: 13px;
  color: black;
}


html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.foot {
  flex: 0 1 500px;
}

.set_log_option {
  padding-top: 3%;
  text-align: center;
}

.set_log_option span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}


/* @media only screen and (max-device-height: 1024px) {
  #inp_data{
    margin-top: 10%;
  }

  .slider{
    padding-top: 5%;
  }

  #sensitivityvalue commentscount{
    margin-top: 10%;
  }

  #predictbtn{
    margin-top: 50%;
  }

  .leftRapper{
    width: 65%;
    padding-top: 10%;
  }

  .rightRapper{
    padding-top: 12%;
  }
} */


@media only screen and (max-device-width: 460px) {
  #inp_data{
    margin-top: 10%;
  }

  .slider{
    padding-top: 5%;
  }

  #sensitivityvalue commentscount{
    margin-top: 10%;
  }

  #predictbtn{
    margin-top: 50%;
  }

  .leftRapper{
    width: 80%;
    padding-top: 10%;
    border-right: solid 1px #0069D9;
    margin-left: 10%;
    margin-right: 10%;
    
  }

  .rightRapper{
    padding-top: 0;
    margin-top: 10%;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  #progress{
    /* height: 50%; */
  }


}